<p>Hey {{ name }},</p>
<p>We have taken note of your concern and will conduct an internal review to ensure that appropriate measures are taken. In the meantime, if you require further assistance or have any additional concerns, please feel free to reach out to us.</p>

<p>If you did not request this email you can safely ignore it.</p>
